@import 'scroll-box.css';
@import 'table.css';
@import 'link.css';
@import 'header.css';
@import 'text.css';
@import 'fx-light.css';
@import 'fx-dark.css';
@import 'arrows.css';
@import 'lines.css';
@import 'footer.css';

:root {
  /** Link */
  --outline-width: 2px;
  --underline-offset: 1.5px;
  --px-title: 0;
  --outline-width-2: calc(2 * var(--outline-width));
  --svg-opacity: 0;
  /** Header */
  --icon-link-width: 36px;
  --toggle-width: 60px;
  --toggle-height: 44px;
  /** Table */
  --table-border-width: 1px;
  --table-border-width-thick: 1.5px;
  --table-border-width-thin: 0.75px;
  --table-header-height: calc(
    var(--line-height-table-header) + var(--table-border-width) +
      var(--table-border-width-thin)
  );
  --table-line: var(--table-border-width) solid var(--color-table);
  --table-line-2: var(--table-border-width-thick) solid
    var(--color-table-lighter);
  --table-line-thin: var(--table-border-width-thin) solid var(--color-table);
  --table-line-light: var(--table-border-width-thin) solid
    var(--color-table-light);
  --table-line-dark: var(--table-border-width) solid var(--color-table);
  /** Arrows and lines */
  --arrow-width: 7px;
  --arrow-height: 12px;
  --line-delta-1: var(--gap);
  --line-delta-2: var(--line-delta-1);
  --arrow-half: calc(var(--arrow-height) / 2);
  --line-width: calc(var(--line-height) + var(--pad-2));
  --line-width-2: calc(var(--line-width) + var(--line-delta-1));
  --line-width-3: calc(var(--line-width-2) + var(--line-delta-2));
  --lines-width: calc(var(--line-width-3) + var(--stroke-2) + var(--pad-2));
  /** Layout */
  --footer-vpad: var(--stroke);
  --footer-height: calc(
    var(--line-height-footer) + 2 * var(--footer-vpad) +
      var(--table-border-width)
  );
  /** Theme */
  --bg-transition: 600ms;
}
article,
body,
a {
  overflow: hidden;
}
body,
article {
  display: flex;
  flex-direction: column;
}
body,
header {
  background: var(--color-bg);
  transition: background-color var(--bg-transition);
}
body {
  height: 100cqh;
  margin: 0 var(--pad-half) 0 var(--pad-half);
  opacity: 0;
  transition: opacity 200ms;
}
article {
  flex: 1;
  justify-content: start;
  align-content: center;
}
