:root {
  --middle: calc(50% - var(--arrow-height-half));
}
arrow-head-middle,
arrow-tail-middle,
arrow-head.middle,
arrow-tail.middle {
  top: var(--middle);
}
arrow-tail.top-3 {
  bottom: calc(50% + var(--stroke-half));
}
arrow-head.bottom-3 {
  bottom: calc(50% - var(--arrow-height));
}
arrow-head,
arrow-tail,
arrow-head-middle,
arrow-tail-middle {
  display: block;
  width: var(--arrow-width);
  height: var(--arrow-height);
  position: absolute;
  right: calc(-1 * var(--arrow-width) / 2 + 3px);
  background-repeat: no-repeat;
  background-size: contain;
}
arrow-head-middle,
arrow-head {
  background-image: url("arrow-head.svg");
}
arrow-tail-middle,
arrow-tail {
  background-image: url("arrow-tail.svg");
}