:root {
  --arrow-width: 6px;
  --arrow-height: 12px;
  --arrow-height-half: calc(var(--arrow-height) / 2);
  --middle: calc(50% - var(--arrow-height-half));
  --top-2: calc(var(--middle) - var(--arrow-height-half));
  --top-3: calc(var(--top-2) - var(--arrow-height-half));
}
arrow-head.middle,
arrow-tail.middle {
  top: var(--middle);
}
arrow-head.top-2,
arrow-tail.top-2 {
  top: var(--top-2);
}
arrow-head.bottom-2,
arrow-tail.bottom-2 {
  bottom: var(--top-2);
}
arrow-head.top-3,
arrow-tail.top-3 {
  top: var(--top-3);
}
arrow-head.bottom-3,
arrow-tail.bottom-3 {
  bottom: var(--top-3);
}
arrow-head,
arrow-tail {
  display: block;
  width: var(--arrow-width);
  height: var(--arrow-height);
  position: absolute;
  right: 0px;
}
arrow-head {
  background-image: url("arrow-head.svg");
}
arrow-tail {
  background-image: url("arrow-tail.svg");
}