:root {
  /** Backgrounds */
  --color-body: lab(100% 2 -12);
  --color-scroll: lab(96% 0 0);
  --color-footer-bg: lab(99% 2 -12);
  --color-bg: lab(100% 0 0);
  --color-bg-transparent: lab(100% 0 0) / 0;
  --color-laws: #fafbff;
  --color-laws-transparent: #fafbffcc;
  --color-laws-shadow-light: lab(95% 1 -1);
  --color-laws-shadow-dark: lab(85% 1 -8);
  --inset-shadow-1: inset 0.5px 1px 3px 1px var(--color-laws-shadow-dark);
  --inset-shadow-2: inset 1px 1.5px 5px 2px var(--color-laws-shadow-light);
  /** Link */
  --color-href: #33a;
  --color-href-active: #b44;
  --color-href-visited: #73b;
  /** Text */
  --color-header: lab(30% 5 -25);
  --color-law: lab(40% 10 -8);
  --color-typeclass: lab(20% 6 -17);
  --color-fn: lab(35% 0 0);
  /** Table */
  --color-table-header: lab(55% 2 -13);
  --color-table: lab(75% 4 -15);
  --color-table-light: lab(85% 4 -15);
  --table-line: var(--table-border-width) solid var(--color-table);
  --table-line-thin: var(--table-border-width-half) solid var(--color-table);
  --table-line-light: var(--table-border-width) solid var(--color-table-light);
  --table-line-thick: var(--table-border-width-three-halves) solid
    var(--color-table);
  /** Lines */
  --color-line: #707490;
  --color-line-highlight: #234;
  --line: var(--stroke) solid var(--color-line);
  /** Scroll shadows */
  --shadow-0: var(--color-table);
  --shadow-1: #0008;
  --shadow-2: #0000004a;
  --shadow-3: #00000019;
  --shadow-4: #00000009;
  --shadow-5: #0000;
  --shadow-6: #fff0;
}
