@import "fonts.css";
@import "root.css";
@import "table.css";
@import "arrows.css";
@import "lines.css";
@import "tex.css";
body {
  margin: 0;
  background: #fff;
}
diagram {
  display: block;
  width: min-content;
  margin: 0 auto 0 auto;
  padding: 0 var(--pad-2) 0 var(--pad-2);
}
header,
h1 {
  line-height: var(--line-height-title);
  background: var(--color-bg);
}
header {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 40;
  display: flex;
  text-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
}
h1 {
  flex: 1;
  z-index: 35;
  text-align: center;
  font-size: var(--font-size-title);
  color: var(--color-title);
  font-weight: 500;
  margin: 0;
}
a {
  display: inline-block;
  z-index: 30;
  text-decoration: none;
  padding: 0 var(--pad) 0 var(--pad);
  &:hover, &:active {
    text-decoration: underline;
  }
  outline-offset: -10px;
  outline-width: 2px;
  outline-style: dotted;
  border-radius: calc(var(--line-height) / 2);
  outline-color: transparent;
  &:focus {
    outline-color: var(--color-outline);
  }
}