@import "fonts.css";
@import "root.css";
@import "table.css";
@import "arrows.css";
@import "lines.css";
/*
html * {
  transition: all 0.1s linear;
}
  */
html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  background: #fff;
}
diagram {
  display: block;
  width: min-content;
  margin: 0 auto 0 auto;
  padding: 0 var(--hpad-2) 0 var(--hpad-2);
}
img {
  width: var(--arrow-width);
  height: var(--arrow-height);
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100ex;
  z-index: 10;
  display: flex;
  line-height: var(--line-height-header);
  text-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
  background: var(--color-bg);
  & > *:first-child {
    flex: 1;
  }
  & > *:nth-child(2) {
    right: var(--hpad-half);
    display: block;
    background: var(--color-bg);
    padding-right: var(--hpad);
  }
}
h1 {
  text-align: center;
  font-size: var(--font-size-header);
  color: var(--color-low);
  font-weight: 500;
  margin: 0;
}
a {
  text-decoration: none;
  outline-offset: 2px;
  outline-width: 2px;
  outline-style: dotted;
  border-radius: 4px;
  outline-color: transparent;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline-color: var(--color-outline);
  }
}
d {
  display: block;
}