:root {
  --stroke-line: calc(var(--line-height) - var(--stroke-half));
  --gap-height: calc(var(--separator-half) + var(--gap));
  --gap-1x: calc(var(--gap-height) + var(--line-height) + 0.5px);
  --gap-1x-bottom: calc(var(--gap-1x) - var(--arrow-half) - var(--stroke-half));
  --gap-1x-p1: calc(var(--gap-1x) + var(--line-height-half));
  --gap-1x-p2: calc(var(--gap-1x) + 5 * var(--line-height-half));
  --gap-3x: calc(3 * var(--gap-1x));
  --gap-3x-top: calc(var(--gap-3x) - var(--arrow-half) - var(--stroke-half));
  --gap-3x-p6: calc(var(--gap-3x) + 6 * var(--line-height) - 0.5px);
  --gap-4x-p8: calc(var(--gap-3x-p6) + 7 * var(--line-height-half) - 1px);
  --line-middle: calc(50% - var(--stroke-half));
  --radius-1: calc(var(--gap-1x) - var(--arrow-half) - var(--pad-half));
  --radius-2: calc(var(--radius-1) + var(--line-delta-1));
  --radius-3: calc(var(--radius-2) + var(--line-delta-2));
}
line-top-up,
line-bottom-down,
line-middle-up,
line-middle-down,
line-top-up-double,
line-middle-up-double,
line-middle-down-double,
line-bottom-down-double,
line-top-up-triple,
line-bottom-down-triple {
  position: absolute;
  right: 1px;
  height: var(--gap-1x);
  width: var(--line-width);
  border-left: var(--line);
}
line-top-up-double,
line-middle-up-double,
line-middle-down-double,
line-bottom-down-double {
  width: var(--line-width-2);
}
line-top-up-triple,
line-bottom-down-triple {
  width: var(--line-width-3);
}
line-top-up,
line-middle-up,
line-top-up-double,
line-middle-up-double,
line-top-up-triple {
  border-bottom: var(--line);
}
line-middle-up,
line-top-up {
  border-bottom-left-radius: var(--radius-1);
}
line-middle-up-double,
line-top-up-double {
  border-bottom-left-radius: var(--radius-2);
}
line-top-up-triple {
  border-bottom-left-radius: var(--radius-3);
}
line.middle.down,
line-middle-down,
line-bottom-down,
line-middle-down-double,
line-bottom-down-double,
line-bottom-down-triple {
  border-top: var(--line);
}
line.middle.down,
line-middle-down,
line-bottom-down {
  border-top-left-radius: var(--radius-1);
}
line-middle-down-double,
line-bottom-down-double {
  border-top-left-radius: var(--radius-2);
}
line-bottom-down-triple {
  border-top-left-radius: var(--radius-3);
}
line-middle-up,
line-middle-up-double {
  bottom: var(--line-middle);
}
line.middle.down,
line-middle-down,
line-middle-down-double {
  top: var(--line-middle);
}
line-top-up,
line-top-up-double,
line-top-up-triple {
  bottom: calc(50% + var(--arrow-half) - var(--stroke-half));
}
line-top-up {
  height: var(--height-3);
}
line-top-up-double {
  height: calc(var(--height-3) + var(--line-height-half) + var(--stroke));
}
line-bottom-down,
line-bottom-down-double,
line-bottom-down-triple {
  top: calc(50% + var(--arrow-half) - var(--stroke-half));
  height: var(--gap-1x-bottom);
}
