:root {
  /**
   *              1        2       3    4     5      6
   * columns: extends, typeclass, law, lhs, center, rhs 
   */
  --font-size: 17px;
  --font-size-title: 22px;
  --latex-font-size: calc(1.1 * var(--font-size));
  --line-height: calc(1.7 * var(--font-size));
  --line-height-header: calc(1.4 * var(--font-size));
  --line-height-title: 40px;
  --pad: 12px;
  --vpad-laws: 6px;
  --stroke: 1.2px;
  --separator-height-factor: 0.3;
  --arrow-width: 6px;
  --arrow-height: 12px;
  --column-max: 23rex;
  --lines-width: calc(3 * var(--line-width) / 2 + var(--pad));
  /** Computed */
  --separator-height: calc(var(--separator-height-factor) * var(--line-height));
  --line-width: calc(3 * var(--line-height) / 2);
  --line: var(--stroke) solid var(--color-line);
  --line-table: 1.3px solid var(--color-table-line);
  --line-table-high: 1px solid var(--color-table-line-high);
  /** Multiples */
  --line-height-half: calc(var(--line-height) / 2);
  --separator-height-half: calc(var(--separator-height) / 2);
  --stroke-half: calc(var(--stroke) / 2);
  --pad-half: calc(var(--pad) / 2);
  --pad-2: calc(var(--pad) * 2);
  --arrow-height-half: calc(var(--arrow-height) / 2);
  /** Colors */
  --color-title: #567;
  --color-header: #669;
  --color-typeclass: #6a6462;
  --color-law: #484a4f;
  --color-law-bg: #edeae8;
  --color-law-shadow: #120906;
  --color-table-line-high: #cfcff6;
  --color-table-line: #99a;
  --color-op: #88a;
  --color-line: #666;
  --color-bg: #fff;
  --color-bg-transparent: #fff0;
  --color-bg-semitransparent-inverse: #0009;
  --color-bg-transparent-inverse: #0000;
  --color-outline: #51b;
  --color-fn: #343230;
}