:root {
  /**
   *              1        2       3    4     5      6
   * columns: extends, typeclass, law, lhs, center, rhs 
   */
  --font-size: 17px;
  --line-height: calc(1.6 * var(--font-size));
  --line-height-header: 40px;
  --hpad: 12px;
  --vpad: 12px;
  --vpad-laws: 4px;
  --stroke: 1.25px;
  --font-size-header-factor: 1.5;
  --separator-height-factor: 0.3;
  --hide-right: 1px;
  --arrow-width: 8px;
  --arrow-height: 12px;
  /** Computed */
  --line-2-width: calc(var(--line-width) + var(--arrow-height));
  --font-size-header: calc(var(--font-size-header-factor) * var(--font-size));
  --separator-height: calc(var(--separator-height-factor) * var(--line-height));
  --line-width: calc(3 * var(--line-height) / 2);
  --line-width-total: calc(var(--line-2-width) + var(--arrow-height));
  --line: var(--stroke) solid var(--color-line);
  --line-table: 1px solid var(--color-table-line);
  --line-table-high: 1px solid var(--color-table-line-high);
  /** Multiples */
  --line-height-third: calc(var(--line-height) / 3);
  --line-height-half: calc(var(--line-height) / 2);
  --separator-height-half: calc(var(--separator-height) / 2);
  --stroke-half: calc(var(--stroke) / 2);
  --hpad-half: calc(var(--hpad) / 2);
  --hpad-2: calc(var(--hpad) * 2);
  --line-height-2: calc(var(--line-height) * 2);
  /** Colors */
  --color-title: #567;
  --color-header: #669;
  --color-typeclass: #686261;
  --color-law: #40444a;
  --color-table-line-high: #cce;
  --color-table-line: #bbd;
  --color-op: #88a;
  --color-line: #777;
  --color-outline: #51b;
  --color-law-bg: #ecebea;
  --color-bg: #fff;
}