:root {
  /**
   *              1        2       3    4     5      6
   * columns: extends, typeclass, law, lhs, center, rhs 
   */
  --column-count: 6;
  --unit: 16px;
  --arrow-width: 6px;
  --arrow-height: 10px;
  --hpad: 1rem;
  --vpad: 8px;
  --vpad-laws: 8px;
  --stroke: 1.2px;
  --font-size-factor: 1;
  --font-size-header-factor: 1.25;
  --line-height-factor: 1.3;
  --separator-height-factor: .3;
  --hide-right: 1px;
  /** Computed */
  --line-2-width: calc(var(--line-width) + var(--arrow-height));
  --font-size: calc(var(--font-size-factor) * var(--unit));
  --font-size-header: calc(var(--font-size-header-factor) * var(--font-size));
  --separator-height: calc(var(--separator-height-factor) * var(--line-height));
  --line-height: calc(var(--line-height-factor) * var(--font-size));
  --line-width: calc(3 * var(--line-height) / 2);
  --line-width-total: calc(var(--line-2-width) + var(--arrow-height));
  --line: var(--stroke) solid var(--color-line);
  --line-table: 1.5px solid var(--color-higher);
  --line-table-high: 1.5px solid var(--color-highest);
  --line-height-header: calc(7 * var(--font-size-header) / 4);
  /** Multiples */
  --line-height-third: calc(var(--line-height) / 3);
  --line-height-half: calc(var(--line-height) / 2);
  --separator-height-half: calc(var(--separator-height) / 2);
  --arrow-height-half: calc(var(--arrow-height) / 2);
  --stroke-half: calc(var(--stroke) / 2);
  --hpad-half: calc(var(--hpad) / 2);
  --separator-height-2: calc(2 * var(--separator-height));
  --line-height-2: calc(var(--line-height) * 2);
  /** Colors */
  --color-highest: #cce;
  --color-higher: #bbd;
  --color-high: #99a;
  --color-low: #779;
  --color-lower: #336;
  --color-line: #555;
  --color-outline: #dbe;
  --color-law-bg: #f4f4f7;
  --color-bg: #fff;
}