#shadow {
  z-index: 10;
  grid-column: 1 / -1;
  grid-row: 1 / span 52;
  display: grid;
  position: absolute;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  top: calc(var(--line-height) + var(--table-border-width-half));
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#top-shadow,
#right-shadow,
#bottom-shadow,
#left-shadow {
  position: sticky;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
#top-shadow,
#bottom-shadow {
  width: 100%;
  height: var(--line-height-2);
  left: 0;
}
#left-shadow,
#right-shadow {
  width: var(--line-height-2);
  height: 100%;
  top: 0;
}
#top-shadow {
  top: calc(var(--line-height) + var(--table-border-width-half) - 0.5px);
  background: linear-gradient(
    var(--shadow-0) 0,
    var(--shadow-1) 1.5px,
    var(--shadow-2) 3px,
    var(--shadow-3) 5px,
    var(--shadow-4) 8px,
    var(--shadow-5) 12px,
    var(--shadow-6) 100%
  );
}
#bottom-shadow {
  top: calc(100% - var(--line-height-2) + 0.5px);
  background: linear-gradient(
    0deg,
    var(--shadow-0) 0px,
    var(--shadow-1) 0.5px,
    var(--shadow-2) 1.5px,
    var(--shadow-3) 4px,
    var(--shadow-4) 9px,
    var(--shadow-5) 12px,
    var(--shadow-6) 100%
  );
}
#left-shadow {
  left: 0;
  background: linear-gradient(
    90deg,
    var(--shadow-0) 0,
    var(--shadow-1) 1px,
    var(--shadow-2) 2px,
    var(--shadow-3) 5px,
    var(--shadow-4) 9px,
    var(--shadow-5) 13px,
    var(--shadow-6) 100%
  );
}
#right-shadow {
  left: calc(100% - var(--line-height-2));
  background: linear-gradient(
    270deg,
    var(--shadow-0) 0,
    var(--shadow-1) 1px,
    var(--shadow-2) 2px,
    var(--shadow-3) 4px,
    var(--shadow-4) 8px,
    var(--shadow-5) 12px,
    var(--shadow-6) 100%
  );
}
scroll-box {
  display: grid;
  position: relative;
  overflow: auto;
  grid-template-columns: var(--lines-width) repeat(5, min-content);
  grid-template-rows: repeat(1, min-content);
  align-items: baseline;
  align-content: start;
  background: var(--color-body);
  table-header {
    top: 0;
    grid-template-rows: subgrid;
    grid-row: 1 / 2;
    position: sticky;
    z-index: 10;
    justify-items: center;
    line-height: var(--line-height);
    border-top: var(--table-line-light);
    border-bottom: var(--table-line-thin);
    color: var(--color-table-header);
    background: var(--color-bg);
    :nth-child(4) {
      grid-column: 4 / span 3;
    }
  }
  table-body {
    grid-template-rows: subgrid;
    grid-row: 2 / span 51;
    typeclass-laws:first-child {
      padding-top: var(--pad-three-quarters);
      border-top: var(--table-line-thin);
    }
    typeclass-laws:last-child {
      padding-bottom: var(--pad-three-quarters);
      border-bottom: var(--table-line-thick);
    }
    typeclass-laws {
      z-index: 2;
      grid-template-rows: subgrid;
      grid-row: var(--start) / span var(--rows);
      > *:first-child {
        position: relative;
        grid-column-start: 1;
      }
      > *:nth-child(2) {
        grid-column-start: 2;
        align-self: center;
        font-weight: 450;
        font-size: var(--font-size-typeclass);
      }
      > *:first-child,
      > *:nth-child(2) {
        grid-row: 1 / span var(--rows);
        padding-left: var(--pad);
      }
      > *:nth-child(4n + 3) {
        color: var(--color-law);
        grid-column-start: 3;
        padding-left: var(--pad-three-halves);
      }
      > *:nth-child(4n + 4) {
        grid-column-start: 4;
        justify-self: end;
      }
      > *:nth-child(4n + 5) {
        grid-column-start: 5;
        text-align: center;
        padding: 0 var(--pad-three-quarters) 0 var(--pad-three-quarters);
      }
      > *:nth-child(4n + 6) {
        grid-column-start: 6;
        padding-right: var(--pad);
      }
      > *:first-child,
      > *:nth-child(2),
      > *:nth-child(3),
      > *:nth-child(4),
      > *:nth-child(5),
      > *:nth-child(6) {
        padding-top: var(--gap);
      }
      > *:first-child,
      > *:nth-child(2),
      > *:nth-last-child(1),
      > *:nth-last-child(2),
      > *:nth-last-child(3),
      > *:nth-last-child(4) {
        padding-bottom: var(--gap);
      }
      link-to {
        a {
          --text-width: calc(
            var(--px-width) + var(--pad-2) - var(--outline-width-2)
          );
          --svg-height: calc(
            var(--line-height) - var(--outline-width) + var(--underline-offset) +
              0.5px
          );
          position: relative;
          display: flex;
          height: 100%;
          align-items: center;
          justify-items: start;
          align-content: start;
          align-items: start;
          span {
            display: inline-block;
            line-height: var(--line-height-title);
          }
          svg {
            top: calc(var(--pad-half) - 1px);
            left: calc(var(--outline-width) / 2);
            width: calc(var(--text-width) + var(--outline-width-2));
            height: calc(var(--svg-height) + var(--outline-width-2));
            rect {
              width: var(--text-width);
              height: var(--svg-height);
            }
          }
        }
      }
    }
    typeclass-laws::before {
      --radius: var(--line-height-three-quarters);
      z-index: -1;
      grid-row: 1 / span var(--rows);
      grid-column: 2 / -1;
      content: '';
      background: var(--color-laws);
      border-top-left-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
      box-shadow: var(--inset-shadow-1), var(--inset-shadow-2);
      clip-path: inset(0 2px 0 0);
    }
  }
  table-header,
  table-body,
  typeclass-laws {
    width: 100%;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / 7;
  }
}
c,
separator {
  display: block;
}
separator {
  grid-row: var(--start) / span 1;
  grid-column: 1 / 7;
  height: var(--separator);
}
c {
  position: relative;
  border: 0px solid var(--color-bg);
}
.line-hover {
  --color-line: var(--color-line-highlight);
  --stroke: 1.5px;
  position: relative;
  transform: translateX(1.1px);
  border-color: var(--color-laws-shadow-light);
  border-width: 1px;
  background: var(--color-laws-transparent);
  transition: all 200ms linear;
  * {
    --line: var(--stroke) solid var(--color-line);
    transition: all 200ms linear;
    border-color: var(--color-line);
  }
}
