article,
.laws,
.header {
  display: grid;
  position: relative;
}
.header,
.laws {
  grid-template-columns: subgrid;
}
article {
  position: relative;
  top: var(--line-height-header);
  grid-template-columns: repeat(var(--column-count), min-content);
  --p1: calc(var(--line-height) + var(--line-height-header) + var(--stroke));
  --p2: calc(var(--p1) + 2px);
  --p3: calc(var(--p2) + 3px);
  --p4: calc(var(--p3) + 6px);
  background:
    linear-gradient(#ffff 0,
      #ffff calc(var(--line-height)), #fffe calc(var(--line-height) + 6px), #fff0 calc(var(--line-height) + 12px)),
    linear-gradient(#0000 0, #0000 var(--p1),
      #0009 var(--p1),
      #0005 var(--p2),
      #0001 var(--p3),
      #0000 var(--p4));
  background-attachment: scroll, fixed;
  .separator {
    height: var(--separator-height);
  }
  .laws,
  .header,
  .separator {
    grid-column: 1/-1;
  }
  .header {
    top: var(--line-height-header);
    border-top: var(--line-table-high);
    border-bottom: var(--line-table);
    grid-row: 1/2;
    z-index: 10;
    position: sticky;
    height: var(--line-height);
    background: var(--color-bg);
    & > * {
      text-align: center;
      color: var(--color-high);
    }
  }
  .laws {
    text-wrap: nowrap;
    & > *:nth-child(n + 2):nth-child(-n + 6) {
      padding-top: var(--vpad-laws);
    }
    & > *:nth-child(2),
    & > *:nth-last-child(-n + 4):nth-last-child(-n + 6) {
      padding-bottom: var(--vpad-laws);
    }
    & > *:first-child {
      position: relative;
      width: var(--line-width-total);
      height: 100%;
    }
    & > *:nth-child(2) {
      padding-left: var(--hpad);
      padding-right: var(--hpad);
      color: var(--color-lower);
      margin-top: auto;
      margin-bottom: auto;
      grid-column: 2/3;
    }
    & > *:nth-child(n + 3):nth-child(-n + 6) {
      grid-row: 1/2;
    }
    & > *:nth-child(n + 7):nth-child(-n + 10) {
      grid-row: 2/3;
    }
    & > *:nth-child(4n + 4),
    & > *:nth-child(4n + 6) {
      font-family: monospace;
    }
    & > *:nth-child(4n + 3) {
      grid-column: 3/4;
    }
    & > *:nth-child(4n + 4) {
      text-align: right;
      grid-column: 4/5;
    }
    & > *:nth-child(4n + 5) {
      text-align: center;
      font-family: serif;
      color: var(--color-high);
      grid-column: 5/6;
    }
    & > *:nth-child(4n + 6) {
      padding-right: var(--hpad-half);
      margin-right: var(--hide-right);
    }
  }
  .laws-2::before,
  .laws-3::before,
  .laws-4::before,
  .laws-7::before {
    opacity: 40%;
    z-index: -5;
    clip-path: inset(0 var(--hide-right) 0 0);
    content: "";
    background: var(--color-law-bg);
    width: 100%;
    height: 100%;
    grid-column: 2/-1;
    border-top-left-radius: var(--line-height);
    border-bottom-left-radius: var(--line-height);
    box-shadow: inset 0.5px 0.5px 1px 1px #2225,
      inset 1px 1px 2.5px 2.5px #6662,
      inset 1.5px 1.5px 3px 3px #7771,
      inset 2px 2px 4px 4px #8882;
  }
  .laws-2::before {
    grid-row: 1/3;
  }
  .laws-3::before {
    grid-row: 1/4;
  }
  .laws-4::before {
    grid-row: 1/5;
  }
  .laws-7::before {
    grid-row: 1/8;
  }
  .laws-3,
  .laws-4,
  .laws-7 {
    & > *:nth-child(n + 11):nth-child(-n + 14) {
      grid-row: 3/4;
    }
  }
  .laws-4,
  .laws-7 {
    & > *:nth-child(n + 15):nth-child(-n + 18) {
      grid-row: 4/5;
    }
  }
  .laws-7 {
    & > *:first-child,
    & > *:nth-child(2) {
      grid-row: 1/8;
    }
    & > *:nth-child(n + 19):nth-child(-n + 22) {
      grid-row: 5/6;
    }
    & > *:nth-child(n + 23):nth-child(-n + 26) {
      grid-row: 6/7;
    }
    & > *:nth-child(n + 27):nth-child(-n + 30) {
      grid-row: 7/8;
    }
  }
  .laws-4 {
    & > *:first-child,
    & > *:nth-child(2) {
      grid-row: 1/5;
    }
  }
  .laws-3 {
    & > *:first-child,
    & > *:nth-child(2) {
      grid-row: 1/4;
    }
  }
  .laws-2 {
    & > *:first-child,
    & > *:nth-child(2) {
      grid-row: 1/3;
    }
  }
}
.sticky {
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
}