:root {
  --leading-1: calc(1rex / 4);
  --leading-2: calc(1rex / 2);
}
.enclosing.empty,
.enclosing.fn {
  & * {
    margin: 0 !important;
  }
}
.enclosing.fn {
  --size: calc(1.1 * var(--font-size));
  margin-right: var(--leading-1);
  position: relative;
  top: 0px;
  & * {
    font-family: 'CMU Concrete' !important;
    font-size: var(--size) !important;
    color: #343230;
  }
}
.enclosing.empty {
  margin-right: var(--leading-2);
  & * {
    font-family: Symbola !important;
  }
}
.macro {
  display: none;
}
.flow,
.pipe {
  & > span > span {
    position: relative;
    top: calc(-1rex / 12);
  }
}