.enclosing.empty,
.enclosing.fn {
  & * {
    margin: 0 !important;
  }
}
.enclosing.fn {
  margin-right: calc(1rex / 4);
  & * {
    font-family: 'CMU Concrete' !important;
    font-size: var(--latex-font-size) !important;
    color: var(--color-fn);
  }
}
.enclosing.empty {
  margin-right: calc(1rex / 2);
  & * {
    font-family: Symbola !important;
  }
}
.macro {
  display: none;
}
.flow,
.pipe {
  & > span > span {
    position: relative;
    top: calc(-1rex / 12);
  }
}